<div class="container-fluid">
    <div class="row services-container">
        <h1 class="heading">Our Services</h1>
      <!-- Left Column -->
      <div class="col-12 col-md-6 services-left">
        <h2>Immigration</h2>
          <img src="../../assets/images/plane.webp" alt="Immigration Services" class="img-fluid" />
            <p class="description">
                Our immigration services provide expert guidance through visa applications, 
                residency permits, and citizenship processes, ensuring a smooth transition for individuals and families navigating complex immigration laws.
            </p>
            <button class="servicebutton">
                View Services <i class="fa-solid fa-arrow-right"></i>
            </button>
      </div>
  
      <!-- Right Column -->
      <div class="col-12 col-md-6 services-right">
        <h2>Litigation</h2>
          <img src="../../assets/images/lit2.webp" alt="Litigation" class="img-fluid"/>
            <p class="description">
                Our litigation services offer robust representation in legal disputes, specializing in civil, commercial, and criminal cases, 
                with a commitment to achieving favorable outcomes for our clients through strategic advocacy.
            </p>
            <button class="servicebutton">
                View Services <i class="fa-solid fa-arrow-right"></i>
            </button>
      </div>
    </div>
</div>
  