<div class="container-fluid">
    <div class="image-container">
        <img ngSrc="../../assets/images/litigation.jpg" alt="Support Services Image" priority width="400" height="400">
    </div>
    <div class="services-container slide-in-right">
        <h2>OUR SUPPORT SERVICES</h2>
        <div class="service">
            <div class="service-text">
                <h3>Immigration & Emmigration</h3>
                <p>Our firm specializes in navigating the complex processes of immigration and emigration. We assist with visa applications, work permits, residency status, citizenship, asylum, and deportation matters.</p>
            </div>
            <button class="servicebutton" (click)="navigateToImmigrationServices()">
                View Services <i class="fa-solid fa-arrow-right"></i>
            </button>
        </div>
        <div class="service">
            <div class="service-text">
                <h3>Litigation</h3>
                <p>We offer expert litigation services, representing clients in civil disputes, contract breaches, property issues, and any other legal matters that require court intervention.</p>
            </div>
            <button class="servicebutton" (click)="navigateToLitigationServices()">
                View Services <i class="fa-solid fa-arrow-right"></i>
            </button>
        </div>
        <div class="service">
            <div class="service-text">
                <h3>Family Law</h3>
                <p>Our family law services include divorce, child custody, spousal support, and domestic violence matters. We aim to protect the rights and interests of our clients and their families in difficult times.</p>
            </div>
            <button class="servicebutton" (click)="navigateToFamilyLawServices()">
                View Services <i class="fa-solid fa-arrow-right"></i>
            </button>
        </div>
        <div class="service">
            <div class="service-text">
                <h3>Bail Applications</h3>
                <p>We provide expert assistance in securing bail for clients in custody, handling applications swiftly and professionally to ensure the best possible outcomes.</p>
            </div>
            <button class="servicebutton" (click)="navigateToBailServices()">
                View Services <i class="fa-solid fa-arrow-right"></i>
            </button>
        </div>
    </div>
</div>
