<div class="container-fluid">
    <div class="image-container">
        <img src="../../assets/images/litigation.jpg" alt="Support Services Image">
    </div>
    <div class="services-container slide-in-right">
        <h2>OUR SUPPORT SERVICES</h2>
        <div class="service">
            <div class="service-text">
                <h3>Immigration & Emmigration</h3>
                <p>Briefly talk about your firm's services here.</p>
            </div>
            <button class="servicebutton" (click)="navigateToImmigrationServices()">
                View Services <i class="fa-solid fa-arrow-right"></i>
            </button>
        </div>
        <div class="service">
            <div class="service-text">
                <h3>Litigation</h3>
                <p>Briefly talk about your firm's services here.</p>
            </div>
            <button class="servicebutton" (click)="navigateToLitigationServices()">
                View Services <i class="fa-solid fa-arrow-right"></i>
            </button>
        </div>
        <div class="service">
            <div class="service-text">
                <h3>Family Law</h3>
                <p>Briefly talk about your firm's services here.</p>
            </div>
            <button class="servicebutton" (click)="navigateToFamilyLawServices()">
                View Services <i class="fa-solid fa-arrow-right"></i>
            </button>
        </div>
        <div class="service">
            <div class="service-text">
                <h3>Bail Applications</h3>
                <p>Briefly talk about your firm's services here.</p>
            </div>
            <button class="servicebutton" (click)="navigateToBailServices()">
                View Services <i class="fa-solid fa-arrow-right"></i>
            </button>
        </div>
    </div>
</div>
