<nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
  <div class="container">
    <a class="navbar-brand" href="#!"><span style="color: red;">CR</span><span style="color: black;"> Attorneys</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#testimonials">Testimonials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item me-3 me-lg-0 social-media-icons">
          <a class="nav-link" href="#!">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </li>
        <li class="nav-item me-3 me-lg-0 social-media-icons">
          <a class="nav-link" href="#!">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>