<section id="about-section">
    <!-- <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 img-col">
                <img ngSrc="../../assets/images/about.webp" alt="About Us" class="img-fluid"
                priority width="500" height="500"/>
            </div>
            <div class="col-md-6 text-content">
                <h1>A Little Bit About Us</h1>
                <br>
                <p class="text">
                    Our mission is to provide compassionate, reliable, and innovative legal solutions that empower individuals and families to navigate life's challenges. 
                    Specializing in immigration, emigration, litigation, family law, and bail applications, we are committed to upholding justice, ensuring our clients' 
                    rights are protected, and fostering long-term relationships built on trust, integrity, and excellence.
                </p>
                <br>
                <p class="text">
                    Chantal Ramjanum is a skilled attorney with a deep commitment to delivering practical and effective legal solutions. 
                    Holding a <b>[Degree, e.g., LLB]</b> from Unisa, Chantal combines academic excellence with years of 
                    hands-on experience to assist clients in areas such as immigration, emigration, litigation, family law, and bail applications. 
                    Known for a personalized approach and attention to detail, 
                    Chantal is dedicated to guiding clients through complex legal processes with clarity and care.
                </p>
                <br>
                <br>
            </div>
        </div>
    </div> -->

    <div class="responsive-container-block bigContainer">
        <div class="responsive-container-block Container">
          <img class="mainImg" ngSrc="../../assets/images/about.webp" priority width="350" height="350">
          <div class="allText aboveText">
            <p class="text-blk headingText">
              Our Mission
            </p>
            <p class="text-blk description">
                Our mission is to provide compassionate, reliable, and innovative legal solutions that empower individuals and families to navigate life's challenges. 
                Specializing in immigration, emigration, litigation, family law, and bail applications, we are committed to upholding justice, ensuring our clients' 
                rights are protected, and fostering long-term relationships built on trust, integrity, and excellence.
            </p>
          </div>
        </div>
        <div class="responsive-container-block Container bottomContainer">
          <img class="profileImg" src="../../assets/images/profile-img.jpg">
          <div class="allText bottomText">
            <p class="text-blk headingText">
              About Me
            </p>
            <p class="text-blk description">
                Chantal Ramjanum is a skilled attorney with a deep commitment to delivering practical and effective legal solutions. 
                Holding a <b>Bachelor of Law (LLB)</b> from Unisa, Chantal combines academic excellence with years of 
                hands-on experience to assist clients in areas such as immigration, emigration, litigation, family law, and bail applications. 
                Known for a personalized approach and attention to detail, 
                Chantal is dedicated to guiding clients through complex legal processes with clarity and care.
            </p>
          </div>
        </div>
      </div>
    
</section>