<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 img-col">
            <img ngSrc="../../assets/images/about.webp" alt="About Us" class="img-fluid"
            priority width="500" height="500"/>
        </div>
        <div class="col-md-6 text-content">
            <h1>A Little Bit About Us</h1>
            <br>
            <h4>With us, you can get the help you need</h4>
            <br>
            <br>
            <p class="text">
                This page should focus on the law firm or the lawyer's
                background. As with the usual About Us pages, you can
                talk about the history, track record, or even the guiding
                principles of the firm/lawyer.
            </p>
            <br>
            <p class="text">
                This page should focus on the law firm or the lawyer's
                background. As with the usual About Us pages, you can
                talk about the history, track record, or even the guiding
                principles of the firm/lawyer.
            </p>
            <br>
            <br>
            <a href="#contact">
                <button class="contactBtn">
                    CONTACT US
                </button>
            </a>
        </div>
    </div>
</div>
