<section id="about-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 img-col">
                <img ngSrc="../../assets/images/about.webp" alt="About Us" class="img-fluid"
                priority width="500" height="500"/>
            </div>
            <div class="col-md-6 text-content">
                <h1>A Little Bit About Us</h1>
                <br>
                <p class="text">
                    Our mission is to provide compassionate, reliable, and innovative legal solutions that empower individuals and families to navigate life's challenges. 
                    Specializing in immigration, emigration, litigation, family law, and bail applications, we are committed to upholding justice, ensuring our clients' 
                    rights are protected, and fostering long-term relationships built on trust, integrity, and excellence.
                </p>
                <br>
                <p class="text">
                    Chantal Ramjanum is a skilled attorney with a deep commitment to delivering practical and effective legal solutions. 
                    Holding a <b>[Degree, e.g., LLB]</b> from Unisa, Chantal combines academic excellence with years of 
                    hands-on experience to assist clients in areas such as immigration, emigration, litigation, family law, and bail applications. 
                    Known for a personalized approach and attention to detail, 
                    Chantal is dedicated to guiding clients through complex legal processes with clarity and care.
                </p>
                <br>
                <br>
                <!-- <a href="#contact">
                    <button class="contactBtn">
                        CONTACT US
                    </button>
                </a> -->
            </div>
        </div>
    </div>
    
</section>