.container-fluid {
    margin-top: 20px;
}

.row {
    height: auto;
}

.img-col {
    padding: 0; 
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fluid {
    width: 80%;
    height: 80vh; 
}

h1,h4 {
    font-family: "Playfair Display", serif;
}

.text {
    width: 70%;
    font-size: 1.2rem;
}

.contactBtn {
    --b: 3px;  
    --s: .45em; 
    --color: #373B44;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    border: var(--b) solid var(--color);
    border-radius: var(--s);
    background: var(--color);
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background .3s, color .3s;
}

.contactBtn:hover {
    background: white;
    color: var(--color);
}

@media (max-width: 768px) {
    .img-col {
        display: none  ;
    }

    .text-content {
        width: 100%;
        text-align: center;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: red solid 2px;
    }

    .text {
        width: 100%; /* Take full width on mobile */
        font-size: 1rem; /* Smaller font for better readability */
        margin-bottom: 20px;
    }
}