<div class="container-fluid">
    <div class="services-container">
        <h2>OUR SUPPORT SERVICES</h2>
        <div class="service-row">
            <div class="service">
                <div class="service-text">
                    <h3>Immigration & Emmigration</h3>
                    <p>Our firm specializes in navigating the complex processes of immigration and emigration. We assist with visa applications, work permits, green card processing, residency status, citizenship, asylum, and deportation matters.</p>
                </div>
                <button class="servicebutton" (click)="navigateToImmigrationServices()">
                    View Services <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
            <div class="service">
                <div class="service-text">
                    <h3>Litigation</h3>
                    <p>We offer expert litigation services, representing clients in civil disputes, contract breaches, property issues, and any other legal matters that require court intervention.</p>
                </div>
                <button class="servicebutton" (click)="navigateToLitigationServices()">
                    View Services <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
        </div>
        <div class="service-row">
            <div class="service">
                <div class="service-text">
                    <h3>Family Law</h3>
                    <p>Our family law services include divorce, child custody, spousal support, and domestic violence matters. We aim to protect the rights and interests of our clients and their families in difficult times.</p>
                </div>
                <button class="servicebutton" (click)="navigateToFamilyLawServices()">
                    View Services <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
            <div class="service">
                <div class="service-text">
                    <h3>Bail Applications</h3>
                    <p>We assist clients with bail applications and provide expert representation to help secure release from detention. We are committed to ensuring that justice is served as quickly and efficiently as possible.</p>
                </div>
                <button class="servicebutton" (click)="navigateToBailServices()">
                    View Services <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
