.container-fluid {
  padding: 0;
}

.row {
  height: 100vh; /* Full viewport height */
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: white;
  margin-top: 15rem;
}

.home-page-logo {
  width: 8vw; 
  height: 15vh;
  margin-bottom: 20px;
}

.tagline {
  font-family: 'Times New Roman', serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 20px 0;
  color: #333;
}

.description {
  font-size: 1.1rem;
  margin-bottom: 30px;
  color: #555;
}

.learn-more {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
}

.img-col {
  background: linear-gradient(to bottom, #87CEEB, #FFFFFF);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lawyer-img {
  max-width: 80%;
  height: 80vh;
  border-radius: 5px;
  transition: transform 0.5s ease; /* Smooth transition effect */
}

.lawyer-img:hover {
  transform: translateY(-40px); /* Move the image upward */
}

@media (max-width: 768px) {
  .row {
      height: auto; /* Remove full height for mobile */
  }

  /* Adjust logo size for mobile */
  .home-page-logo {
      width: 33vw;
      height: 25vh;
      margin-top: 50px;
      margin-bottom: 0px;
  }

  /* Adjust text and tagline sizes */
  .tagline {
      font-size: 2rem;
  }

  .description {
      font-size: 1rem;
  }

  .learn-more {
      font-size: 1rem;
  }

  /* Adjust image for mobile */
  .lawyer-img {
      max-width: 100%; /* Make image responsive */
      height: auto; /* Maintain aspect ratio */
      padding: 10px;
  }

  /* Hide image on mobile */
  .img-col {
      display: none;
  }

  /* Adjust text section on mobile */
  .text-content {
      height: 100vh;
      margin-top: 0;
      border-bottom: #ff0000 solid 2px;
  }
}

@media (min-width: 768px) {
  .home-page-logo {
      margin-top: -200px; /* Adjust logo positioning for larger screens */
  }
}

@keyframes slideInFromLeft {
  0% {
      opacity: 0;
      transform: translateX(-100%);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
      opacity: 0;
      transform: translateX(100%);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

.slide-in-left {
  animation: slideInFromLeft 1s ease-out forwards;
}

.slide-in-right {
  animation: slideInFromRight 1s ease-out forwards;
}
