<!--HTML page for a landing page, it must have 2 columns using bootstrap columns-->

<div class="container-fluid">
  <div class="row">
    <!-- Left column -->
    <div class="col-md-6 text-content slide-in-left">
      <img src="../../assets/images/logo.png" alt="Logo" class="img-fluid home-page-logo"/>

      <h1 class="tagline">PROVIDING TAILORED LEGAL COUNSEL AND SOLUTIONS</h1>
      <p class="description">
        We specialize in all aspects of real estate law, from buying and selling property to drafting contracts.
      </p>
      <a href="#contact" class="btn learn-more">
        CONTACT US
      </a>
    </div>
    
    <div class="col-md-6 img-col slide-in-right">
      <img src="../../assets/images/placeholder.jpg" alt="Legal Counsel Image" class="img-fluid lawyer-img"/>
      <!--<app-globe></app-globe>-->
    </div>
  </div>
</div>

