<div class="container-fluid">
    <div class="row top-row">
        <div class="header-text">
            <h1>Contact Us</h1>
            <p>Have a question or need more information? Drop us a call, email, or fill in our form and lets see if we can help you.</p>
        </div>
    </div>
    <div class="row text-content">
        <div class="col-md-6 info">
            <div class="contact-info">
                <p><i class="fas fa-phone-alt"></i> 076 924 2726</p>
                <p><i class="fas fa-envelope"></i> {{email}}</p>
                <div class="socials">
                    <a class="nav-link" href="#!">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a class="nav-link" href="#!">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </div>
                <p><b>Main Office</b></p>
                <p>123 Street Name</p>
                <p>City, Country</p>
            </div>
        </div>
        <div class="col-md-6 formBtn">
            <a href="https://us13.list-manage.com/contact-form?u=dca9b1b4b46ff9e41c70ed938&form_id=e2b487613b505180148497bc65c561f1" target="_blank">
                <button class="contactBtn">
                    Get in touch with us
                </button>
            </a>
            <span class="form-info">We use <a href="https://mailchimp.com" target="_blank">MailChimp</a> for our forms, clicking the button will open a new tab with our form.</span>
            <span class="form-info">Click <a href="#" target="_blank">here</a> to view our privacy policy</span>
        </div>
    </div>
</div>
