<div class="container-fluid">
    <div class="row top-row">
        <div class="header-text">
            <h1>Contact Us</h1>
            <p>Have a question or need more information? Drop us a call, email, or fill in our form and lets see if we can help you.</p>
        </div>
    </div>
    <div class="row text-content">
        <div class="col-md-6 info">
            <div class="contact-info">
                <p><i class="fas fa-phone-alt"></i> 076 924 2726</p>
                <p><i class="fas fa-envelope"></i> {{email}}</p>
                <div class="socials">
                    <a class="nav-link" href="#!">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a class="nav-link" href="#!">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </div>
                <p><b>Main Office</b></p>
                <p>123 Street Name</p>
                <p>City, Country</p>
            </div>
        </div>
        <div class="col-md-6 formBtn">
            <a href="https://us13.list-manage.com/contact-form?u=dca9b1b4b46ff9e41c70ed938&form_id=e2b487613b505180148497bc65c561f1" target="_blank">
                <button class="contactBtn">
                    Get in touch with us
                </button>
            </a>
            <span class="form-info">We use <a href="https://mailchimp.com" target="_blank">MailChimp</a> for our forms, clicking the button will open a new tab with our form.</span>
            <span class="form-info">Click <a href="#" target="_blank">here</a> to view our privacy policy</span>

            <!-- <div id="mc_embed_shell">
                <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width: 600px;}
                  /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
          </style>
          <div id="mc_embed_signup">
              <form action="https://gmail.us13.list-manage.com/subscribe/post?u=dca9b1b4b46ff9e41c70ed938&amp;id=3ffa30fd70&amp;f_id=00904fe1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                  <div id="mc_embed_signup_scroll"><h2>Contact Us</h2>
                      <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                      <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div><div class="mc-field-group"><label for="mce-FNAME">First Name </label><input type="text" name="FNAME" class=" text" id="mce-FNAME" value=""></div><div class="mc-field-group"><label for="mce-LNAME">Last Name </label><input type="text" name="LNAME" class=" text" id="mce-LNAME" value=""></div><div class="mc-field-group"><label for="mce-PHONE">Phone Number <span class="asterisk">*</span></label><input type="text" name="PHONE" class="REQ_CSS" id="mce-PHONE" value=""></div>
          <div hidden=""><input type="hidden" name="tags" value="4377537"></div>
                  <div id="mce-responses" class="clear foot">
                      <div class="response" id="mce-error-response" style="display: none;"></div>
                      <div class="response" id="mce-success-response" style="display: none;"></div>
                  </div>
              <div aria-hidden="true" style="position: absolute; left: -5000px;">
                  /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                  <input type="text" name="b_dca9b1b4b46ff9e41c70ed938_3ffa30fd70" tabindex="-1" value="">
              </div>
                  <div class="optionalParent">
                      <div class="clear foot">
                          <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                          <p style="margin: 0px auto;"><a href="http://eepurl.com/i1g_1Y" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
                      </div>
                  </div>
              </div>
          </form>
          </div>
          <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[4]='PHONE';ftypes[4]='phone';fnames[3]='ADDRESS';ftypes[3]='address';fnames[5]='BIRTHDAY';ftypes[5]='birthday';fnames[6]='COMPANY';ftypes[6]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
         -->
        </div>
          
    </div>
</div>
